/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: 1.5em;
	/* currently ems cause chrome bug misinterpreting rems on body element */
	
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
	height: 100%;
	width: 100%;
}

/* Nav */

.cusecNav {
	  background-color: rgba(0,0,0,1);
	  font-size: 16px;
}

.cusecNav a {
	  color: white;
}

/* Base Divs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html>body .contentBlock .minorBlock {
	height: auto;
}

.contentBlock {
	height: 100%;
	min-height: 100%;
	color: white;
}


#main {
	background: linear-gradient(228deg, #01e792, #73ccff);
	z-index: -1;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
	padding-top: 250px;
	color: white;

}

#about {
	background-color: azure
	z-index: -1;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	padding: 5% 5%;
}

#contact {
	background: linear-gradient(228deg, #01e792, #73ccff);
	z-index: -1;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
	padding: 25% 5%;
	color: white;
}

#footer {
		background: black;
		color: white;
}

.down {
	margin-top: 10%;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 320px) {
	
	#main{
		padding-top: 150px;
	}
	#about{
		height: 130%;
	}
	#contact{
		padding-top: 100px;
	}
}

@media (min-width: 768px) {
	#main{
		padding-top: 250px;
	}
	
	#about{
		height:100%;
		padding: 15% 5%;
	}
}

