/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: 1.5em;
	/* currently ems cause chrome bug misinterpreting rems on body element */
	
	line-height: 1.6;
	font-weight: 400;
	font-family: "Quicksand", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #222;
	height: 100%;
	width: 100%;
}

.fa-bars{
	color: white;
}

/* Nav */

.cusecNav {
	  background-color: rgba(0,0,0,1);
	  font-size: 16px;
}

.cusecNav a {
	  color: white;
}

.cusecNav a:hover{
	color:aquamarine;
}

/* Base Divs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html>body .contentBlock .minorBlock {
	height: auto;
}

.contentBlock {
	height: 100%;
	min-height: 100%;
	color: white;
}

#main {
	background: linear-gradient(170deg, #01e792, #73ccff);
	z-index: -1;
	min-height: 100%;
	padding-top: 15%;
		background-size: cover;
	background-attachment: fixed;
	color: white;
}


#eventButton {
	font-size: 1.2em;
}

#about {
	background-color: white;
	z-index: -1;
	background-size: cover;
	background-attachment: fixed;
	height: 60%;
	padding: 5% 5%;
}

#about h2{
	font-weight: 400;
	font-size: 35px;
}

#about p{
	font-weight: 200;
	font-size: 20px;
}

#coc {
	background-color: ghostwhite;
	padding: 5% 5%;
}

#coc button{
	color: black;
	border-color: black;
}

#coc h1{
	font-size: 5em;
	font-weight: 400;
}

#coc p{
	font-size: 18px;
	line-height: 1.7
}

#coc hr{
	  border-top: 1px solid #000;
}

@media (max-width: 960px){
	#about h2{
		font-size: 2em;
	}
	#about p {
		font-size: 1em;
	}
}

#contact {
	background: linear-gradient(228deg, #01e792, #73ccff);
	height: 50%;
	padding-top: 10%;
	color: white;
}

#contact h2 {
	font-size: 24px;
}

#contact a:hover{
	color: white;
}

#footer {
		background: black;
		color: white;
}

.down {
	margin-top: 10%;
}

.cusec {
	z-index: 5;
	position: relative;
}

.mainButtons button:hover{
	color: white;
	background-color: darkturquoise;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* --- MOBIlE --- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
		#main{
			padding-top: 125px;
		}
		#main h2{
			font-size: 1.5em;
		}

		#main h3{
			font-size: 1.2em;
		}
		#about{
			height: 130%;
		}
		#coc {
			padding: 17% 7%;
		}
		#coc h1{
			font-size: 2.1em;
		}

		#coc h2{
			font-size: 1.4em;
		}
		#coc p{
			font-size: 1em;
		}
		#coc h3{
			font-size: 1.1em;
		}
		#contact h1{
			font-size: 1.3em;
		}
}

/* ----------- TABLETS ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	
	#about{
		height:100%;
		padding: 15% 5%;
	}
}