<div id="topFooter">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-12 col-sm-offset-0 col-lg-4 col-lg-offset-4">
        <a href="https://twitter.com/cusec"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://www.youtube.com/channel/UCZ7j8F6h1CxD-uC0od9rHBw/videos"><i class="fa fa-youtube fa-2x"></i></a>
        <a href="https://www.facebook.com/pages/CUSEC/9884406702"><i class="fa fa-facebook fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <p>Made with Miguel OG's keyboard</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <p>Presented by the CUSEC 2016 team</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <p><a href="mailto:info@cusec.net">info@cusec.net</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- JS Load
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
