<nav class="cusecNav">
  <div class="container">
    <div class="row mobileLogo">
      <div class="col-xs-12 hidden-md hidden-lg">
        <a href="index.html"><img class="img-responsive center-block" src="img/navShape.png" style="width:70px">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-2 col-sm-2 col-sm-offset-2 col-md-1 col-md-offset-1 col-lg-1 col-lg-offset-1">
        <p><a href="index.html">Home</a>
        </p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
        <p><a href="speakers.html">Speakers</a>
        </p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
        <p><a href="schedule.html">Schedule</a>
        </p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
        <p><a href="venue.html">Venue</a>
        </p>
      </div>
      <div class="hidden-xs col-md-2 col-lg-2 col-lg-offset-0">
        <a href="index.html"><img class="img-responsive logo center-block" src="img/navShape.png" style="width:70px">
        </a>
      </div>
      <div class="col-xs-2 col-xs-offset-2 col-sm-2 col-sm-offset-2 col-md-1 col-md-offset-0 col-lg-1 col-lg-offset-0">
        <p><a href="schools.html">Schools</a>
        </p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 col-lg-offset-0">
        <p><a href="team.html">Team</a>
        </p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 col-lg-offset-0">
        <p><a href="sponsors.html">Sponsors</a>
        </p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-lg-offset-0">
        <p><a href="coc.html">Code of Conduct</a>
        </p>
      </div>
    </div>
  </div>
</nav>
