<div class="container cusecSplash">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">
      <img class="img-responsive" src="img/logo.png">
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <h2>CANADIAN UNIVERSITY SOFTWARE ENGINEERING CONFERENCE</h2>
      <h1>January 14 - 16th, 2016</h1>
      <h1>Montreal, Quebec, Canada</h1>
    </div>
  </div>
  <div class="row text-center buttonGroup">
    <div class="col-xs-12 col-sm-12 col-lg-12 text-center">
      <h2 >We are sold out for 2016! Come back next year!</h2>
    </div>
  </div>
  <div class="row text-center buttonGroup">
    <div class="col-xs-6 col-sm-4 col-lg-2 col-lg-offset-3 text-center">
      <p>
        <a href="https://script.google.com/macros/s/AKfycbw_xN5zbc9vExwY-6XAO2xep0ktdlPHyx61S8dyClsIb-Z9_UNG/exec">
          <button type="button" class="btn btn-default btn-lg">Resume Roast</button>
        </a>
      </p>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2 text-center">
      <p>
        <a href="https://script.google.com/macros/s/AKfycbxGZPI7sgnyQHCPMbMfAH0GR6GYoHVr3q5bl0e92ouAtnpGsEU/exec">
          <button type="button" class="btn btn-default btn-lg">Demo Camp</button>
        </a>
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2 text-center">
      <p>
        <a href="https://script.google.com/macros/s/AKfycbw9iKTLmOv5Hmx9q8LiLvCDlHHZcpMskEs4JDy-suQYy8WJsPw/exec">
          <button type="button" class="btn btn-default btn-lg">Lightning Talks</button>
        </a>
      </p>
    </div>
  </div>
</div>
